# Latihan - Praktikum 10

In [1]:
mahasiswa = ["Saci", "Salma", "Pipi", "Zalda", "Alpin"]
print(mahasiswa)

['Saci', 'Salma', 'Pipi', 'Zalda', 'Alpin']

#### Analisis
Kode tersebut membuat list bernama **mahasiswa** yang berisi lima nama, yaitu “Saci”, “Salma”, “Pipi”, “Zalda”, dan “Alpin”. Saat perintah `print(mahasiswa)` dijalankan, program menampilkan seluruh elemen dalam list tersebut di layar sebagai satu kumpulan data.

In [1]:
mahasiswa = ("Saci", "Salma", "Pipi", "Zalda", "Alpin")
print(mahasiswa)

('Saci', 'Salma', 'Pipi', 'Zalda', 'Alpin')

#### Analisis
Kode tersebut membuat **tuple** bernama **mahasiswa** yang berisi lima elemen: “Saci”, “Salma”, “Pipi”, “Zalda”, dan “Alpin”. Saat perintah `print(mahasiswa)` dijalankan, program menampilkan seluruh isi tuple tersebut di layar. Berbeda dengan list, tuple bersifat **immutable**, artinya data di dalamnya tidak dapat diubah setelah dibuat.

In [2]:
mahasiswa = {"Saci", "Salma", "Pipi", "Zalda", "Alpin", "Alpin"}
mahasiswa [0] = "Putri"
print(mahasiswa)

TypeError: 'set' object does not support item assignment

#### Analisis
Kode tersebut akan menimbulkan **error** karena variabel **mahasiswa** didefinisikan sebagai **set**, bukan list. Struktur data set di Python bersifat **tidak berurutan** dan **tidak mendukung akses melalui indeks**, sehingga perintah `mahasiswa[0] = "Putri"` tidak dapat dijalankan. Selain itu, set juga **menghapus elemen duplikat secara otomatis**, sehingga “Alpin” hanya ditampilkan satu kali meskipun ditulis dua kali.

In [4]:
mahasiswa = ["Saci", "Salma", "Pipi", "Zalda", "Alpin"]
mahasiswa.append("Darmawati")
mahasiswa.insert(3, "Adee")
mahasiswa.pop()
mahasiswa.sort(reverse=True)
mahasiswa.remove("Alpin")
for nama in mahasiswa:
    print("Nama Mahasiswa: ", nama)
    
print(mahasiswa)

Nama Mahasiswa:  Zalda
Nama Mahasiswa:  Salma
Nama Mahasiswa:  Saci
Nama Mahasiswa:  Pipi
Nama Mahasiswa:  Adee
['Zalda', 'Salma', 'Saci', 'Pipi', 'Adee']

#### Analisis
Kode tersebut membuat list **mahasiswa** berisi lima nama awal. Kemudian menambahkan “Darmawati”, menyisipkan “Adee” di indeks ke-3, menghapus elemen terakhir, mengurutkan list secara menurun, dan menghapus “Alpin”. Setelah itu, program menampilkan setiap nama mahasiswa satu per satu serta mencetak isi list terakhir.

In [8]:
mahasiswa = ["Saci", "Salma", "Pipi", "Zalda", "Alpin"]
mahasiswa.append("Darmawati")
mahasiswa.insert(3, "Adee")
mahasiswa.pop()
mahasiswa.sort(reverse=True)
mahasiswa.remove("Alpin")

i = 1
for nama in mahasiswa:
    print("Nama Mahasiswa ke-", i ,": ", nama)
    i+=1
    
print(mahasiswa)

Nama Mahasiswa ke- 1 :  Zalda
Nama Mahasiswa ke- 2 :  Salma
Nama Mahasiswa ke- 3 :  Saci
Nama Mahasiswa ke- 4 :  Pipi
Nama Mahasiswa ke- 5 :  Adee
['Zalda', 'Salma', 'Saci', 'Pipi', 'Adee']

#### Analisis
Kode tersebut membuat list **mahasiswa** berisi lima nama awal. Program menambahkan “Darmawati”, menyisipkan “Adee” di indeks ke-3, menghapus elemen terakhir, mengurutkan list secara menurun, dan menghapus “Alpin”. Selanjutnya, perulangan menampilkan setiap nama mahasiswa beserta nomor urutnya, lalu menampilkan isi list akhir setelah semua perubahan dilakukan.

In [10]:
person = {"name": "SalmaPutri", "hp": "080808", "kelas": "TEKOM F"}
print(person)

{'name': 'SalmaPutri', 'hp': '080808', 'kelas': 'TEKOM F'}

#### Analisis
Kode tersebut membuat **dictionary** bernama **person** yang menyimpan tiga pasangan **key-value**, yaitu `"name": "SalmaPutri"`, `"hp": "080808"`, dan `"kelas": "TEKOM F"`. Perintah `print(person)` akan menampilkan seluruh isi dictionary tersebut di layar.

In [11]:
person = {"name": "SalmaPutri", "hp": "080808", "kelas": "TEKOM F"}
for key, value in person.items():
    print(key, ":", value)

name : SalmaPutri
hp : 080808
kelas : TEKOM F

#### Analisis
Kode tersebut membuat **dictionary** bernama **person** yang berisi tiga pasangan key-value, yaitu `"name": "SalmaPutri"`, `"hp": "080808"`, dan `"kelas": "TEKOM F"`. Selanjutnya, perulangan `for key, value in person.items():` digunakan untuk mengambil setiap pasangan key dan nilainya dari dictionary. Metode `items()` mengembalikan elemen dalam bentuk tuple `(key, value)`, sehingga keduanya dapat dipisahkan dan ditampilkan dengan format **key : value**. Hasilnya, program mencetak setiap data dalam dictionary pada baris yang berbeda, menampilkan nama, nomor hp, dan kelas secara terpisah.

In [8]:
i = 0
while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

#### Analisis
Kode tersebut menggunakan **perulangan while** untuk menampilkan angka dari 0 hingga 5. Variabel **i** diawali dengan nilai 0, kemudian selama kondisi **i <= 5** masih benar, program akan mencetak nilai **i** dan menambahkannya satu per satu menggunakan **i += 1**. Ketika nilai **i** mencapai 6, kondisi tidak lagi terpenuhi sehingga perulangan berhenti. Hasil akhirnya, program menampilkan deretan angka 0, 1, 2, 3, 4, dan 5 secara berurutan.

In [9]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

#### Analisis
Kode tersebut menggunakan **perulangan for** dengan fungsi **range(10)** untuk menampilkan angka dari 0 hingga 9. Fungsi **range(10)** menghasilkan deretan angka mulai dari 0 sampai satu angka sebelum 10, dan setiap nilai tersebut disimpan sementara dalam variabel **i** untuk kemudian dicetak di setiap iterasi. Hasil akhirnya, program menampilkan angka 0 sampai 9 secara berurutan, masing-masing pada baris yang berbeda.

In [4]:
for i in range(1,6):
  print(i)

1
2
3
4
5

#### Analisis
Kode tersebut menggunakan **perulangan for** dengan **range(1, 6)** untuk menampilkan angka mulai dari 1 sampai 5. Fungsi **range(1, 6)** membuat urutan bilangan dimulai dari 1 dan berhenti sebelum 6. Setiap kali perulangan berjalan, nilai **i** berubah sesuai urutan dan dicetak ke layar. Hasil akhirnya, program menampilkan deretan angka 1 hingga 5 secara berurutan pada baris terpisah.

In [11]:
for i in range(5,10):
  print(i)

5
6
7
8
9

#### Analisis
Kode tersebut menggunakan perulangan for dengan range(5, 10) untuk mencetak angka dari 5 hingga 9. Fungsi range(5, 10) menghasilkan urutan angka mulai dari 5 sampai 9 (angka 10 tidak termasuk). Setiap nilai i dicetak pada baris baru, sehingga outputnya adalah 5, 6, 7, 8, 9 secara berurutan.

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:3])

['cherry']

#### Analisis
Kode tersebut menggunakan teknik slicing pada list untuk mengambil elemen mulai dari indeks 2 hingga sebelum indeks 3. Pada list thislist, elemen dengan indeks 2 adalah "cherry", sehingga potongan thislist[2:3] menghasilkan list baru yang berisi ['cherry']. Hasil akhirnya, program menampilkan output ['cherry'] di layar.

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[3:])

['orange', 'kiwi', 'melon', 'mango']

#### Analisis
Kode tersebut menerapkan slicing pada list untuk mengambil elemen mulai dari indeks ke-3 hingga akhir. Pada list thislist, elemen yang dimulai dari posisi ke-3 adalah "orange", "kiwi", "melon", dan "mango". Potongan thislist[3:] menghasilkan list baru berisi ['orange', 'kiwi', 'melon', 'mango'], dan program menampilkan hasil tersebut sebagai output.

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

#### Analisis
Kode tersebut menggunakan operasi slicing [:] pada list untuk menyalin seluruh elemen dari awal hingga akhir. Dalam list thislist, semua elemen tetap tercakup, sehingga hasil dari thislist[:] adalah list baru yang identik dengan list aslinya, yaitu ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']. Output yang dihasilkan menampilkan seluruh isi list tersebut secara lengkap.

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1:3])

['banana', 'cherry']

#### Analisis
Kode tersebut menerapkan slicing pada list untuk mengambil elemen dari indeks ke-1 hingga sebelum indeks ke-3. Pada list thislist, elemen yang berada di posisi tersebut adalah "banana" dan "cherry". Oleh karena itu, potongan thislist[1:3] menghasilkan list baru berisi ['banana', 'cherry'], dan program menampilkan list tersebut sebagai output.

In [16]:
i = 1
while i <= 9:
    print(i)
    i += 2

1
3
5
7
9

#### Analisis
Kode tersebut memakai perulangan while untuk menampilkan angka dari 1 hingga 9 dengan kenaikan 2 setiap kali perulangan dijalankan. Variabel i diawali dengan nilai 1, kemudian nilainya bertambah 2 di setiap iterasi, sehingga angka yang dicetak berturut-turut adalah 1, 3, 5, 7, dan 9. Proses perulangan berhenti ketika nilai i sudah lebih besar dari 9.

In [17]:
i = 1
while i <= 13:
    if i == 7:
        print("WOW")
    else:
        print(i)
    i +=2

1
3
5
WOW
9
11
13

#### Analisis
Kode tersebut menjalankan perulangan while dengan kenaikan nilai sebesar 2 di setiap iterasi, dimulai dari 1 hingga 13. Ketika nilai i bernilai 7, program menampilkan teks "WOW", sedangkan pada nilai lainnya program mencetak angka seperti biasa. Hasil akhirnya menampilkan urutan output 1, 3, 5, WOW, 9, 11, dan 13.

In [19]:
for i in range(1, 11):
    if i <= 8:
        if i % 2 == 1:
            print("hidup")
        else:
            print("mahasiswa")
    else:
        print(i)

hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
9
10

#### Analisis
Kode tersebut menjalankan perulangan for dari angka 1 sampai 10. Di dalamnya terdapat percabangan bersarang yang memeriksa nilai i. Jika i kurang dari atau sama dengan 8, program akan mengecek apakah i termasuk bilangan ganjil atau genap. Bila i ganjil (i % 2 == 1), program menampilkan kata "hidup", sedangkan jika genap, menampilkan kata "mahasiswa". Untuk nilai i yang lebih besar dari 8, yaitu 9 dan 10, program langsung mencetak angkanya. Hasil akhirnya berupa kombinasi antara kata dan angka sesuai dengan kondisi yang terpenuhi.

In [20]:
for i in range(1, 14):
    print(i)
    if i % 3 == 2:  
        print("Ha")

1
2
Ha
3
4
5
Ha
6
7
8
Ha
9
10
11
Ha
12
13

#### Analisis
Kode tersebut menjalankan perulangan for dari angka 1 hingga 13. Setiap nilai i akan dicetak terlebih dahulu, kemudian program memeriksa kondisi apakah i memiliki sisa bagi 2 ketika dibagi 3 (i % 3 == 2). Jika kondisi tersebut benar, maka program menampilkan kata "Ha" setelah angka tersebut. Dengan demikian, setiap kali nilai i menghasilkan sisa 2 saat dibagi 3, akan muncul tambahan output "Ha". Hasil akhirnya berupa deretan angka yang disertai kata "Ha" pada posisi tertentu sesuai kondisi yang terpenuhi.

In [24]:
for i in range(1, 14):
    if i not in [3, 5, 6, 9, 10, 12]:
        print(i)
        
    if i in [2, 5, 8, 11]:
        print("Ha")

    if i in [4, 9]:
        print("Hi")

1
2
Ha
4
Hi
Ha
7
8
Ha
Hi
11
Ha
13

#### Analisis
Kode tersebut menjalankan perulangan dari angka 1 hingga 13 dan menampilkan output berupa angka atau kata sesuai dengan kondisi yang ditetapkan. Jika nilai i tidak berada dalam daftar [3, 5, 6, 9, 10, 12], maka program mencetak angkanya. Untuk nilai i yang termasuk dalam [2, 5, 8, 11], program menampilkan kata "Ha", sedangkan untuk nilai i dalam [4, 9], program mencetak "Hi". Dengan demikian, hasil akhir yang dihasilkan berupa kombinasi antara angka dan teks sesuai dengan aturan yang telah ditentukan dalam program.